:root{
    --festive-font-family: 'Festive', cursive;
    --default-font-family: 'Montserrat', sans-serif;
    --title-font-family: 'Bebas Neue', cursive;
    --cursive-font-family: Satisfy, cursive;


    --primary-color: #233d4d;
    --secondary-color: #fe7f2d;
    --warning-color: #fcca46;
    --success-color: #619b8a;

    --dark-color: #1c1d21;
    --light-color:#1c1d21;
}